body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f3;
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#MainWindow {
  width: 100vw;
  height: 100vh;
}

#TitleBar {
  background-color: #393939;
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#TitleBar #MenuBar {
  color: #f2f2f3;
  font-size: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#TitleBar #MenuBar .menuButt {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#TitleBar #MenuBar .menuButt span {
  padding-left: 15px;
  padding-right: 15px;
}

#TitleBar #MenuBar .menuButt:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#TitleBar #MenuBar .menuBG {
  position: absolute;
  top: 30px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}

#TitleBar #MenuBar .menuButtOpen {
  background-color: rgba(128, 128, 128, 0.527);
  color: #f2f2f3;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#TitleBar #MenuBar .menuButtOpen .MName {
  padding-left: 15px;
  padding-right: 15px;
}

#TitleBar #MenuBar .menuButtOpen .subMenu {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f3;
  position: absolute;
}

#TitleBar #MenuBar .menuButtOpen .subMenu .break {
  height: 5px;
  background-color: #f2f2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#TitleBar #MenuBar .menuButtOpen .subMenu .break .bar {
  background-color: rgba(128, 128, 128, 0.527);
  height: 1px;
  opacity: 0.7;
  width: 100%;
  margin: 0 15px 0 15px;
}

#TitleBar #MenuBar .menuButtOpen .subMenu .subMenuButt {
  padding: 10px 15px 10px 15px;
  background-color: #f2f2f3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  white-space: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#TitleBar #MenuBar .menuButtOpen .subMenu .subMenuButt .name {
  margin-right: 40px;
}

#TitleBar #MenuBar .menuButtOpen .subMenu .subMenuButt .shortcut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
}

#TitleBar #MenuBar .menuButtOpen .subMenu .subMenuButt .arrow {
  font-weight: 700;
  color: #393939;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
}

#TitleBar #MenuBar .menuButtOpen .subMenu .open {
  background-color: #bfc7e6;
}

#TitleBar #MenuBar .menuButtOpen .subMenu .open .name {
  color: #393939;
}

#TitleBar #MenuBar .menuButtOpen .subMenu .notAv .name {
  color: rgba(128, 128, 128, 0.527);
}

#TitleBar #MenuBar .menuButtOpen .subMenu .notAv .shortcut {
  color: rgba(128, 128, 128, 0.527);
}

#TitleBar #MenuBar .menuButtOpen .subMenu .normal .name,
#TitleBar #MenuBar .menuButtOpen .subMenu .adv .name {
  color: #393939;
}

#TitleBar #MenuBar .menuButtOpen .subMenu .normal .shortcut,
#TitleBar #MenuBar .menuButtOpen .subMenu .adv .shortcut {
  color: rgba(128, 128, 128, 0.527);
}

#TitleBar #MenuBar .menuButtOpen .subMenu .normal:hover,
#TitleBar #MenuBar .menuButtOpen .subMenu .adv:hover {
  background-color: #768af8;
}

#TitleBar #MenuBar .menuButtOpen .subMenu .normal:hover .name,
#TitleBar #MenuBar .menuButtOpen .subMenu .adv:hover .name {
  color: #f2f2f3;
}

#TitleBar #MenuBar .menuButtOpen .subMenu .normal:hover .shortcut,
#TitleBar #MenuBar .menuButtOpen .subMenu .adv:hover .shortcut {
  color: rgba(255, 255, 255, 0.2);
}

#TitleBar #Title {
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f2f2f3;
  white-space: nowrap;
}

#TitleBar #Title span {
  margin: 0 40px 0 40px;
  text-overflow: ellipsis;
}

#Decoration {
  top: 30px;
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

#Decoration div {
  margin: 70px 0 0 70px;
  border-radius: 20px;
}

.red {
  background-color: #c79292;
}

.green {
  background-color: #a5c7a2;
}

.purple {
  background-color: #ae95ca;
}

.blue {
  background-color: #8eb8cc;
}

.yellow {
  background-color: #ccd8af;
}

.orange {
  background-color: #c7b39a;
}
/*# sourceMappingURL=index.css.map */